.Post {
  background-color: rgb(244, 247, 250);
  /* background-color: rgb(216, 224, 231); */
  margin-bottom: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  position: relative;
  width: 70%;
  margin: 0 auto 0 auto;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

.Post:hover {
  border: 1px solid rgb(154, 152, 152);
}

.Post__publish {
  position: absolute;
  /* position: relative; */
  padding: 0.25rem;
  border-radius: 5px;
  bottom: 1px;
  right: 0.75rem;
  font-size: 0.75rem;
  cursor: pointer;
  border: 1px solid black;
}

.Post__publish:hover {
  background-color: rgb(206, 214, 222);
  /* color: #fff; */
}

.Post__header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Post__header-container h4 {
  font-size: 0.75rem;
}
